.dark {
  color: #909090;
  background-color: #161616;
}
.dark .record-form {
  background-color: #161616;
  color: #909090;
  box-shadow: none;
}
.dark .input,
.dark .menu {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  background-color: #1a1a1a;
  color: #e5e5e5;
}
.dark .menu {
  color: #909090;
}
.dark .input::placeholder {
  color: #888;
}
.dark .input:focus {
  background-color: #262626;
  outline: 0;
  border: 1px solid gray;
}
.dark .input:not(:placeholder-shown) {
  background-color: #262626;
}
.dark #submit-button {
  background-color: #2a52ff;
  color: #fff;
}
.dark #submit-button:hover {
  background-color: #1e3fff;
  box-shadow: 0 0 10px rgba(42, 82, 255, 0.6);
}
.dark .menu-card {
  background-color: #1a1a1a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.dark .menu-card a,
.dark .menu-card button {
  background-color: #1a1a1a;
  border: none;
  color: #909090;
}
.dark #sort-dropdown:hover,
.dark .menu-card a:hover,
.dark .menu-card button:hover {
  background-color: #1e1e1e;
  color: #fff;
}
.dark .delete-button,
.dark .edit-button {
  color: #b0b0b0;
}
.dark .delete-button:hover,
.dark .edit-button:hover {
  color: #fff;
  transform: var(--transform);
}
